flask
flask-login
flask-cors
flask-sqlalchemy
flask-socketio==4.3.1
python-socketio==4.6.1
python-engineio==3.13.2
networkx==3.0
pandas==1.5.3
pymysql==0.10.0
requests==2.24.0
numpy==1.24.2
scipy==1.10.1
scikit-learn==1.2.2
tqdm
gensim
texttable
torch==1.13.1
torch-geometric==2.2.0
torch-scatter==2.1.0
torch-sparse==0.6.16
torch-cluster==1.6.0
pygod
