.bigtitle {
    text-align: center;
    background-color: #cf4646;
    color: #fff;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    height: 150px;
    position:relative;
}
a{
    float:left;
    background-color: #cf4646;
    border:0px;
    color: #fff;
    text-decoration:none;
    font-size:20px
}
.title{   
    font-size:50px;
    margin:auto;
    position:absolute;
    left:40%;
    top:50%;
    margin-left: -100px;
    margin-top:-40px;
}
.row1{ 
    margin:0 auto;
}
#network1{
    weight: 50%;
    height: 78%;
}
#network2{
    weight: 50%;
    height: 78%;
}